<template>
    <defs>
        <pattern id="vertical-lines" x="0" y="0" :width="gridDensity" height="100%" patternUnits="userSpaceOnUse">
            <line x1="0" x2="0" y1="0" y2="100%"></line>
        </pattern>
        <pattern id="horizontal-lines" x="0" y="0" width="100%" :height="gridDensity" patternUnits="userSpaceOnUse">
            <line x1="0" x2="100%" y1="0" y2="0"></line>
        </pattern>
    </defs>

    <g :transform="fieldTransform.matrix">
        <rect :x="gridPosition.x" :y="gridPosition.y" :width="gridArea.x" :height="gridArea.y" fill="url(#vertical-lines)"></rect>
        <rect :x="gridPosition.x" :y="gridPosition.y" :width="gridArea.x" :height="gridArea.y" fill="url(#horizontal-lines)"></rect>
    </g>
</template>

<script lang="ts">
    import {Options, Vue} from "vue-class-component";
    //eslint-disable-next-line no-unused-vars
    import {Point, TransformMatrix} from "@/model/ui/TransformMatrix";

    @Options({
        props: {
            fieldWidth: Number,
            fieldHeight: Number,
            fieldTransform: TransformMatrix,
            scale: Number
        }
    })
    export default class FieldGridComponent extends Vue{

        fieldWidth!: number;
        fieldHeight!: number;
        fieldTransform!: TransformMatrix;
        scale!: number;

        get gridArea() : Point {
            let shiftedArea = this.fieldTransform.inverse({x: this.fieldWidth + 20, y: this.fieldHeight + 20});
            return {
                x: shiftedArea.x - this.fieldBenchmark.x,
                y: shiftedArea.y - this.fieldBenchmark.y
            };
        }

        get gridPosition() : Point {
            return {
                x: (Math.floor(this.fieldBenchmark.x/this.modulus.x) - 1)*this.modulus.x,
                y: (Math.floor(this.fieldBenchmark.y/this.modulus.y) - 1)*this.modulus.y
            }
        }

        get gridDensity() : number {
            return this.scale > 0.5 ? 20 : 40;
        }

        get modulus() : Point {
            let shiftedModulus = this.fieldTransform.inverse({x: 10, y: 10});
            return {
                x: shiftedModulus.x - this.fieldBenchmark.x,
                y: shiftedModulus.y - this.fieldBenchmark.y
            };
        }

        get fieldBenchmark() : Point {
            return this.fieldTransform.inverse({x: 0, y: 0});
        }
    }
</script>

<style scoped>
    line {
        stroke: #ededed;
        stroke-width: 2px;
    }
</style>
