<template>
    <div class="grid-wrapper">
        <div class="field-wrapper"
             @keydown="onKeyDown"
             @mouseenter="fieldWrapperElement.focus()"
             @mouseleave="fieldWrapperElement.blur()"
             ref="field-wrapper"
             tabindex="0"
        >
            <svg :class="{moving: lookAction !== null}"
                 @wheel="onWheel"
                 @mousedown="onMouseDown"
                 @mouseup="onMouseUp"
                 @mouseleave="onMouseUp"
                 @mousemove="onMouseMove"
                 @contextmenu="e => e.preventDefault()"
                 ref="field"
            >
                <FieldGrid :fieldWidth="fieldWidth"
                           :fieldHeight="fieldHeight"
                           :fieldTransform="fieldTransform"
                           :scale="scaleAction.value"
                ></FieldGrid>

                <g :transform="fieldTransform.matrix">
                    <Operation v-for="(commonOperation, index) of project.commonOperations" :key="index"
                               :editableOperation="commonOperation"
                               :valueHighlight="valueHighlight"
                               :callHighlight="callHighlight"
                               :inputElementsHighlight="inputElementsHighlight"
                               @startcustomdrag="e => onStartOperationDrag(e)"
                               @startvaluelink="e => onStartValueLink(e)"
                               @endvaluelink="e => onEndValueLink(e)"
                               @startcalllink="e => onStartCallLink(e)"
                               @endcalllink="e => onEndCallLink(e)"
                    ></Operation>
                    <Pass v-for="(passOperation, index) of project.passOperations" :key="index"
                          :editableOperation="passOperation"
                          :valueHighlight="valueHighlight"
                          :callHighlight="callHighlight"
                          :inputElementsHighlight="inputElementsHighlight"
                          @startcustomdrag="e => onStartOperationDrag(e)"
                          @startvaluelink="e => onStartValueLink(e)"
                          @endvaluelink="e => onEndValueLink(e)"
                          @startcalllink="e => onStartCallLink(e)"
                          @endcalllink="e => onEndCallLink(e)"
                    ></Pass>

                    <ValueLink v-for="(valueLink, index) of project.valueLinks" :key="index"
                               :valueLink="valueLink"
                               :valueHighlight="valueHighlight"
                               @startvaluelink="e => onStartValueLink(e)"
                               @endvaluelink="e => onEndValueLink(e)"
                               @splitlink="e => onSplitValueLink(e)"
                    ></ValueLink>
                    <ValueLink v-if="valueLinkAction"
                               :valueLinkAction="valueLinkAction"
                    ></ValueLink>

                    <CallLink v-for="(callLink, index) of project.callLinks" :key="index"
                              :callLink="callLink"
                              :callHighlight="callHighlight"
                              @startcalllink="e => onStartCallLink(e)"
                              @endcalllink="e => onEndCallLink(e)"
                              @splitlink="e => onSplitCallLink(e)"
                    ></CallLink>
                    <CallLink v-if="callLinkAction"
                              :callLinkAction="callLinkAction"
                    ></CallLink>
                </g>

                <rect v-if="selectOperationsAction"
                      :x="selectOperationsAction.left"
                      :y="selectOperationsAction.top"
                      :width="selectOperationsAction.width"
                      :height="selectOperationsAction.height"
                ></rect>
            </svg>
        </div>
        <div class="library-wrapper">
            <Library @addoperation="e => onAddOperation(e)"></Library>
        </div>
    </div>
    <div>
        <button @click="onRender">Render</button>
        <pre>{{renderedProject}}</pre>
    </div>
</template>

<script lang="ts">
    import {Options, Vue} from "vue-class-component";
    //eslint-disable-next-line no-unused-vars
    import {Point, TransformMatrix} from "@/model/ui/TransformMatrix";
    import {ScaleAction} from "@/model/ui/action/ScaleAction";
    import {LookAction} from "@/model/ui/action/LookAction";
    import FieldGridComponent from "@/components/FieldGridComponent.vue";
    import {
        //eslint-disable-next-line no-unused-vars
        CallLinkEvent,
        //eslint-disable-next-line no-unused-vars
        SplitCallLinkEvent,
        //eslint-disable-next-line no-unused-vars
        SplitValueLinkEvent,
        //eslint-disable-next-line no-unused-vars
        StartOperationDragEvent,
        //eslint-disable-next-line no-unused-vars
        ValueLinkEvent
    } from "@/model/ui/event/OperationEvents";
    import {OperationsDragAction} from "@/model/ui/action/OperationsDragAction";
    import {Project} from "@/model/project/Project";
    import {Start} from "@/model/operation/library/callable/Start";
    //eslint-disable-next-line no-unused-vars
    import {ValueLinkAction} from "@/model/ui/action/ValueLinkAction";
    import {CallHighlight, InputElementsHighlight, ValueHighlight} from "@/model/ui/Highlight";
    //eslint-disable-next-line no-unused-vars
    import ValueLinkComponent from "@/components/link/ValueLinkComponent.vue";
    import {CallLinkAction} from "@/model/ui/action/CallLinkAction";
    import CallLinkComponent from "@/components/link/CallLinkComponent.vue";
    //eslint-disable-next-line no-unused-vars
    import OperationComponent from "@/components/operation/OperationComponent.vue";
    //eslint-disable-next-line no-unused-vars
    import {SelectOperationsAction} from "@/model/ui/action/SelectOperationsAction";
    import {ValuePass} from "@/model/operation/library/pass/ValuePass";
    import {CallLink, ValueLink} from "@/model/project/Link";
    import {CallablePass} from "@/model/operation/library/pass/CallablePass";
    //eslint-disable-next-line no-unused-vars
    import PassComponent from "@/components/operation/PassComponent.vue";
    //eslint-disable-next-line no-unused-vars
    import {EditableOperation} from "@/model/project/EditableOperation";
    import LibraryComponent from "@/components/LibraryComponent.vue";
    //eslint-disable-next-line no-unused-vars
    import {AbstractOperation} from "@/model/operation/Operation";

    @Options({
        components: {
            FieldGrid: FieldGridComponent,
            ValueLink: ValueLinkComponent,
            CallLink: CallLinkComponent,
            Operation: OperationComponent,
            Pass: PassComponent,
            Library: LibraryComponent,
        },
        computed: {
            console: () => console
        }
    })
    export default class FieldComponent extends Vue {

        project: Project = new Project(new Start());

        fieldWidth: number = 0;
        fieldHeight: number = 0;
        fieldTransform: TransformMatrix = new TransformMatrix();

        valueHighlight: ValueHighlight = new ValueHighlight();
        callHighlight: CallHighlight = new CallHighlight();
        inputElementsHighlight: InputElementsHighlight = new InputElementsHighlight();

        scaleAction: ScaleAction = new ScaleAction(1.1, 0.3, 2, this.fieldTransform);
        lookAction: LookAction | null = null;
        operationsDragAction: OperationsDragAction | null = null;
        valueLinkAction: ValueLinkAction | null = null;
        callLinkAction: CallLinkAction | null = null;
        selectOperationsAction: SelectOperationsAction | null = null;

        renderedProject: string = "";

        get fieldElement() : SVGElement {
            return this.$refs["field"] as SVGElement;
        }

        get fieldWrapperElement() : HTMLDivElement {
            return this.$refs["field-wrapper"] as HTMLDivElement;
        }

        get fieldCenter() : Point {
            return this.fieldTransform.inverse({
                x: (Math.floor(this.fieldWidth/20.0) - 1)*10.0,
                y: (Math.floor(this.fieldHeight/20.0) - 1)*10.0
            });
        }

        onWheel(e: WheelEvent) {
            this.scaleAction.scale(e);
        }

        onMouseDown(e: MouseEvent) {
            e.preventDefault();

            switch (e.button) {
                case 0:
                    this.selectOperationsAction = new SelectOperationsAction(this.fieldTransform, e);
                    break;
                case 2:
                    this.lookAction = new LookAction(this.fieldTransform, e);
                    break;
            }
        }

        onMouseUp(e: MouseEvent) {
            console.log("Events cleared");

            this.lookAction = null;

            if(!e.shiftKey && this.operationsDragAction === null) {
                this.project.operations.forEach(operation => operation.selected = false);
                this.project.callLinks.forEach(callLink => callLink.selected = false);
                this.project.valueLinks.forEach(valueLink => valueLink.selected = false);
            }
            if(this.selectOperationsAction) {
                this.selectOperationsAction.getIntersected(this.project.operations)
                    .forEach(operation => operation.selected = true);
            }
            this.selectOperationsAction = null;

            this.operationsDragAction = null;

            this.valueLinkAction = null;
            this.valueHighlight.resetHighlight();

            this.callLinkAction = null;
            this.callHighlight.resetHighlight();

            this.inputElementsHighlight.enableAll();
        }

        onMouseMove(e: MouseEvent) {
            e.stopPropagation();
            e.preventDefault();
            this.fieldElement.focus();

            if(this.lookAction) {
                this.lookAction.move(e);
            }
            if(this.operationsDragAction) {
                this.operationsDragAction.move(e);
            }
            if(this.selectOperationsAction) {
                this.selectOperationsAction.move(e);
            }
            if(this.valueLinkAction) {
                this.valueLinkAction.move(e);
            }
            if(this.callLinkAction) {
                this.callLinkAction.move(e);
            }
        }

        onKeyDown(e: KeyboardEvent) {
            e.stopPropagation();

            switch (e.key) {
                case "Delete":
                    this.project.deleteSelected();
                    break;
            }
        }

        onResize() : any {
            this.fieldWidth = this.fieldElement.clientWidth;
            this.fieldHeight = this.fieldElement.clientHeight;
        }

        onStartOperationDrag(e: StartOperationDragEvent) {
            let operationsToDrag: EditableOperation[];
            if(e.editableOperation.selected) {
                operationsToDrag = this.project.selectedOperations;
            } else {
                operationsToDrag = [e.editableOperation];
            }
            this.operationsDragAction = new OperationsDragAction(operationsToDrag, e.e, this.fieldTransform);
            this.inputElementsHighlight.disableAll();
        }

        onStartValueLink(e: ValueLinkEvent) {
            this.valueLinkAction = new ValueLinkAction(e, this.fieldTransform);
            if(this.valueLinkAction.fromOperation && this.valueLinkAction.fromOutput) {
                let outputDefinition = this.valueLinkAction.fromOperation.definition.outputs[this.valueLinkAction.fromOutput];
                this.valueHighlight.highlightInputs(outputDefinition.type, outputDefinition.collection);
                this.callHighlight.hideAll();
            }
            if(this.valueLinkAction.toOperation && this.valueLinkAction.toInput) {
                let inputDefinition = this.valueLinkAction.toOperation.definition.inputs[this.valueLinkAction.toInput];
                this.valueHighlight.highlightOutputs(inputDefinition.type, inputDefinition.collection);
                this.callHighlight.hideAll();
            }
            this.inputElementsHighlight.disableAll();
        }

        onEndValueLink(e: ValueLinkEvent) {
            if(this.valueLinkAction) {
                try {
                    this.project.addValueLink(this.valueLinkAction.end(e));
                } catch (err) {
                    console.log(err);
                } finally {
                    this.valueLinkAction = null;
                    this.valueHighlight.resetHighlight();
                    this.callHighlight.resetHighlight();
                    this.inputElementsHighlight.enableAll();
                }
            }
        }

        onStartCallLink(e: CallLinkEvent) {
            this.callLinkAction = new CallLinkAction(e, this.fieldTransform);
            if(this.callLinkAction.fromOperation && this.callLinkAction.fromOutcome) {
                this.callHighlight.highlightCalls();
                this.valueHighlight.hideAll();
            }
            if(this.callLinkAction.toOperation) {
                this.callHighlight.highlightOutcomes();
                this.valueHighlight.hideAll();
            }
            this.inputElementsHighlight.disableAll();
        }

        onEndCallLink(e: CallLinkEvent) {
            if(this.callLinkAction) {
                try {
                    this.project.addCallLink(this.callLinkAction.end(e));
                } catch (err) {
                    console.log(err);
                } finally {
                    this.callLinkAction = null;
                    this.callHighlight.resetHighlight();
                    this.valueHighlight.resetHighlight();
                    this.inputElementsHighlight.enableAll();
                }
            }
        }

        onSplitValueLink(e: SplitValueLinkEvent) {
            let position = this.fieldTransform.inverse({
                x: (Math.floor(e.e.offsetX/10.0) - 1)*10.0,
                y: (Math.floor(e.e.offsetY/10.0) - 1)*10.0
            });

            this.project.removeValueLink(e.valueLink);

            let definition = e.valueLink.fromOperation.definition.outputs[e.valueLink.fromOutput];
            let pass = this.project.addOperation(new ValuePass(definition.type, definition.collection), position);
            this.project.addValueLink(new ValueLink(
                e.valueLink.fromOperation, e.valueLink.fromOutput,
                pass, "Value"
            ));
            this.project.addValueLink(new ValueLink(
                pass, "Value",
                e.valueLink.toOperation, e.valueLink.toInput,
            ));
        }

        onSplitCallLink(e: SplitCallLinkEvent) {
            let position = this.fieldTransform.inverse({
                x: (Math.floor(e.e.offsetX/10.0) - 1)*10.0,
                y: (Math.floor(e.e.offsetY/10.0) - 1)*10.0
            });

            this.project.removeCallLink(e.callLink);

            let pass = this.project.addOperation(new CallablePass(), position);
            this.project.addCallLink(new CallLink(
                e.callLink.fromOperation, e.callLink.fromOutcome,
                pass
            ));
            this.project.addCallLink(new CallLink(
                pass, "After",
                e.callLink.toOperation
            ));
        }

        onAddOperation(e: AbstractOperation) {
            this.project.addOperation(e, this.fieldCenter);
        }

        mounted() {
            window.addEventListener("resize", this.onResize);
            this.onResize();
        }

        onRender() {
            this.renderedProject = this.project.render(0);
        }
    }
</script>

<style scoped>
    div:focus {
        outline: none;
    }

    svg {
        width: 100%;
        height: 714px;
        margin-bottom: -4px;
    }

    rect {
        fill: none;
        stroke: black;
        stroke-width: 1px;
        stroke-dasharray: 1;
    }

    .moving {
        cursor: move;
    }

    .grid-wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: calc(100% - 250px) 240px;
        grid-gap: 10px
    }

    .field-wrapper {
        border: 1px solid black;
    }

    .library-wrapper {
        font: 14px Arial;
        border: 1px solid black;
        overflow: scroll;
    }
</style>
