<template>
    <ul>
        <li class="hidden">
            <a @click="e => toggleHide(e)">Flow</a>
            <ul>
                <li class="operation">
                    <a @click="addBranch" class="operation">Branch (If)</a>
                </li>
                <li class="hidden">
                    <a @click="e => toggleHide(e)">Loop</a>
                    <ul>
                        <li class="operation">
                            <a @click="addForRange" class="operation">For Range</a>
                        </li>
                        <li class="operation">
                            <a @click="addForEach(DataType.STRING)" class="operation">For Each String</a>
                        </li>
                        <li class="operation">
                            <a @click="addForEach(DataType.NUMBER)" class="operation">For Each Number</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a @click="e => toggleHide(e)">Functions</a>
            <ul>
                <li class="operation">
                    <a @click="addEcho" class="operation">Echo</a>
                </li>
            </ul>
        </li>
        <li class="hidden">
            <a @click="e => toggleHide(e)">Operations</a>
            <ul>
                <li class="hidden">
                    <a @click="e => toggleHide(e)">String</a>
                    <ul>
                        <li class="operation">
                            <a @click="addConcat" class="operation">Concatenate</a>
                        </li>
                        <li class="operation">
                            <a @click="addStringToNumber" class="operation">To Number</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden">
                    <a @click="e => toggleHide(e)">Number</a>
                    <ul>
                        <li class="hidden">
                            <a @click="e => toggleHide(e)">Arithmetic</a>
                            <ul>
                                <li class="operation">
                                    <a @click="addBinaryArithmetic(BinaryArithmeticOperators.ADD)" class="operation">Add</a>
                                </li>
                                <li class="operation">
                                    <a @click="addBinaryArithmetic(BinaryArithmeticOperators.SUBTRACT)" class="operation">Subtract</a>
                                </li>
                                <li class="operation">
                                    <a @click="addBinaryArithmetic(BinaryArithmeticOperators.MULTIPLY)" class="operation">Multiply</a>
                                </li>
                                <li class="operation">
                                    <a @click="addBinaryArithmetic(BinaryArithmeticOperators.DIVIDE)" class="operation">Divide</a>
                                </li>
                            </ul>
                        </li>
                        <li class="hidden">
                            <a @click="e => toggleHide(e)">Comparison</a>
                            <ul>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.EQUALS)" class="operation">Equals</a>
                                </li>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.NOT_EQUALS)" class="operation">Not equals</a>
                                </li>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.GREATER_THAN)" class="operation">Greater than</a>
                                </li>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.GREATER_THAN_EQUALS)" class="operation">Greater than equals</a>
                                </li>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.LESS_THAN)" class="operation">Less than</a>
                                </li>
                                <li class="operation">
                                    <a @click="addCompare(DataType.NUMBER, ComparisonOperators.LESS_THAN_EQUALS)" class="operation">Less than equals</a>
                                </li>
                            </ul>
                        </li>
                        <li class="operation">
                            <a @click="addNumberToString" class="operation">To String</a>
                        </li>
                    </ul>
                </li>
                <li class="hidden">
                    <a @click="e => toggleHide(e)">Logical</a>
                    <ul>
                        <li class="operation">
                            <a @click="addBinaryLogical(BinaryLogicalOperators.AND)" class="operation">And</a>
                        </li>
                        <li class="operation">
                            <a @click="addBinaryLogical(BinaryLogicalOperators.OR)" class="operation">Or</a>
                        </li>
                        <li class="operation">
                            <a @click="addUnaryLogical(UnaryLogicalOperators.NOT)" class="operation">Not</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</template>

<script lang="ts">

    import {Options, Vue} from "vue-class-component";
    import {
        BinaryArithmeticOperator,
        BinaryArithmeticOperators
    } from "@/model/operation/library/operator/arithmetic/BinaryArithmeticOperator";
    import {
        BinaryLogicalOperator,
        BinaryLogicalOperators
    } from "@/model/operation/library/operator/logical/BinaryLogicalOperator";
    import {
        ComparisonOperator,
        ComparisonOperators
    } from "@/model/operation/library/operator/logical/ComparisonOperator";
    import {DataType} from "@/model/definition/DataType";
    import {
        UnaryLogicalOperator,
        UnaryLogicalOperators
    } from "@/model/operation/library/operator/logical/UnaryLogicalOperator";
    import {Branch} from "@/model/operation/library/callable/flow/Branch";
    import {ForLoopRange} from "@/model/operation/library/callable/flow/loop/ForLoopRange";
    import {ForEachLoop} from "@/model/operation/library/callable/flow/loop/ForEachLoop";
    import {Echo} from "@/model/operation/library/callable/Echo";
    import {StringToNumberConverter} from "@/model/operation/library/converter/StringToNumberConverter";
    import {NumberToStringConverter} from "@/model/operation/library/converter/NumberToStringConverter";
    import {StringConcatOperation} from "@/model/operation/library/operator/textual/StringConcatOperation";

    @Options({
        emits: [
            "addoperation"
        ],
        computed: {
            DataType: () => DataType,
            ComparisonOperators: () => ComparisonOperators,
            UnaryLogicalOperators: () => UnaryLogicalOperators,
            BinaryLogicalOperators: () => BinaryLogicalOperators,
            BinaryArithmeticOperators: () => BinaryArithmeticOperators
        }
    })
    export default class LibraryComponent extends Vue {

        toggleHide(e: MouseEvent) {
            e.stopPropagation();
            if(e.currentTarget instanceof HTMLElement && e.currentTarget.parentElement) {
                e.currentTarget.parentElement.classList.toggle('hidden');
            }
        }

        addBranch() {
            this.$emit("addoperation", new Branch());
        }

        addForRange() {
            this.$emit("addoperation", new ForLoopRange());
        }

        addForEach(type: DataType) {
            this.$emit("addoperation", new ForEachLoop(type));
        }

        addEcho() {
            this.$emit("addoperation", new Echo());
        }

        addCompare(type: DataType, operator: ComparisonOperators) {
            this.$emit("addoperation", new ComparisonOperator(operator, type));
        }

        addUnaryLogical(operator: UnaryLogicalOperators) {
            this.$emit("addoperation", new UnaryLogicalOperator(operator));
        }

        addBinaryLogical(operator: BinaryLogicalOperators) {
            this.$emit("addoperation", new BinaryLogicalOperator(operator));
        }

        addStringToNumber() {
            this.$emit("addoperation", new StringToNumberConverter());
        }

        addNumberToString() {
            this.$emit("addoperation", new NumberToStringConverter());
        }

        addBinaryArithmetic(operator: BinaryArithmeticOperators) {
            this.$emit("addoperation", new BinaryArithmeticOperator(operator));
        }

        addConcat() {
            this.$emit("addoperation", new StringConcatOperation());
        }
    }
</script>

<style scoped>
    a {
        cursor: pointer;
    }

    a:hover {
        color: blue;
    }

    a.operation {
        font-weight: normal;
        text-decoration: underline;
    }

    ul {
        font-family: Arial;
        list-style: none;
        margin-left: 10px;
        padding-left: 0;
        user-select: none;
    }

    li {
        color: black;
        padding-top: 5px;
        font-weight: bold;
    }

    li:before {
        content: "-";
        padding-right: 5px;
        padding-left: 1px;
    }

    li.operation {
        padding-left: 12px;
    }

    li.operation:before {
        content: none;
    }

    li.hidden > ul {
        display: none;
    }

    li.hidden:before {
        content: "+";
        padding-right: 3px;
        padding-left: 0;
    }

</style>
