<template>
  <canvas id="context-holder" style="display: none"></canvas>
  <Field/>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import FieldComponent from './components/FieldComponent.vue';

@Options({
  components: {
    Field: FieldComponent,
  },
})
export default class App extends Vue {}
</script>

<style>
#app {

}
</style>
