<template>
    <path :d="path"
          :class="{link: true, selected: selected}"
          @click="toggleSelection"
          @dblclick="e => splitLink(e)"
          fill="none"
    ></path>
    <path :transform="getOptionTranslate(fromOutcomePosition)"
          :class="{hidden: isOutcomeHidden}"
          d="M 5 0 L 0 5 L -5 5 L -5 -5 L 0 -5 z"
          fill="black"
          @mousedown="e => onOutcomeMouseDown(e)"
          @mouseup="e => onOutcomeMouseUp(e)"
    ></path>
    <path :transform="getOptionTranslate(toCallPosition)"
          :class="{hidden: isCallHidden}"
          d="M 5 0 L 0 5 L -5 5 L -5 -5 L 0 -5 z"
          fill="black"
          @mousedown="e => onCallMouseDown(e)"
          @mouseup="e => onCallMouseUp(e)"
    ></path>
</template>

<script lang="ts">

    import {Options, Vue} from "vue-class-component";
    import {CallLink} from "@/model/project/Link";
    //eslint-disable-next-line no-unused-vars
    import {Point} from "@/model/ui/TransformMatrix";
    import {CallHighlight} from "@/model/ui/Highlight";
    import {CallLinkAction} from "@/model/ui/action/CallLinkAction";

    @Options({
        props: {
            callLinkAction: CallLinkAction,
            callLink: CallLink,
            callHighlight: CallHighlight
        },
        emits: [
            "startcalllink",
            "endcalllink",
            "splitlink"
        ]
    })
    export default class CallLinkComponent extends Vue {
        callLinkAction?: CallLinkAction;
        callLink?: CallLink;
        callHighlight!: CallHighlight;

        get isOutcomeHidden() : boolean {
            if(this.callLink) {
                return this.callHighlight.isOutcomeHidden();
            }
            return false;
        }

        get isCallHidden() : boolean {
            if(this.callLink) {
                return this.callHighlight.isCallHidden();
            }
            return false;
        }

        get fromOutcomePosition() : Point {
            if(this.callLinkAction) {
                return this.callLinkAction.fromOutcomePosition;
            }
            if(this.callLink) {
                return this.callLink.fromOutcomePosition;
            }
            return {x: 0, y: 0};
        }

        get toCallPosition() : Point {
            if(this.callLinkAction) {
                return this.callLinkAction.toCallPosition;
            }
            if(this.callLink) {
                return this.callLink.toCallPosition;
            }
            return {x: 0, y: 0};
        }

        get path() : string {
            if(this.callLinkAction) {
                return this.callLinkAction.path;
            }
            if(this.callLink) {
                return this.callLink.path;
            }
            return "";
        }

        get selected() : boolean {
            if(this.callLink) {
                return this.callLink.selected;
            }
            return false;
        }

        getOptionTranslate(p: Point) : string {
            return "translate(" + p.x + "," + p.y + ")";
        }

        onOutcomeMouseDown(e: MouseEvent) {
            if(this.callLink) {
                e.stopPropagation();
                this.$emit("startcalllink", {
                    fromEditableOperation: this.callLink.fromOperation,
                    fromOutcome: this.callLink.fromOutcome,
                    e: e
                });
            }
        }

        onOutcomeMouseUp(e: MouseEvent) {
            if(this.callLink && !this.isOutcomeHidden) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    fromEditableOperation: this.callLink.fromOperation,
                    fromOutcome: this.callLink.fromOutcome,
                    e: e
                });
            }
        }

        onCallMouseDown(e: MouseEvent) {
            if(this.callLink) {
                e.stopPropagation();
                this.$emit("startcalllink", {
                    toEditableOperation: this.callLink.toOperation,
                    e: e
                });
            }
        }

        onCallMouseUp(e: MouseEvent) {
            if(this.callLink && !this.isCallHidden) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    toEditableOperation: this.callLink.toOperation,
                    e: e
                });
            }
        }

        toggleSelection() {
            if(this.callLink) {
                this.callLink.selected = !this.callLink.selected;
            }
        }

        splitLink(e: MouseEvent) {
            if(this.callLink) {
                this.$emit("splitlink", {
                    callLink: this.callLink,
                    e: e
                })
            }
        }

    }
</script>

<style scoped>
    .link {
        stroke: black;
        stroke-width: 2px;
        cursor: pointer;
    }

    .link:hover {
        stroke-opacity: 50%;
    }

    .selected {
        stroke-width: 4px;
    }

    .hidden {
        cursor: not-allowed;
    }
</style>
