<template>
    <path :d="path"
          :stroke="color"
          :class="{link: true, selected: selected}"
          @click="toggleSelection"
          @dblclick="e => splitLink(e)"
          fill="none"></path>
    <circle :cx="fromOutputPosition.x"
            :cy="fromOutputPosition.y"
            :class="{hidden: isOutputHidden}"
            :stroke="color"
            :fill="color"
            @mousedown="e => onOutputMouseDown(e)"
            @mouseup="e => onOutputMouseUp(e)"
    ></circle>
    <circle :cx="toInputPosition.x"
            :cy="toInputPosition.y"
            :class="{hidden: isInputHidden}"
            :stroke="color"
            :fill="color"
            @mousedown="e => onInputMouseDown(e)"
            @mouseup="e => onInputMouseUp(e)"
    ></circle>
</template>

<script lang="ts">

    import {Options, Vue} from "vue-class-component";
    import {ValueLinkAction} from "@/model/ui/action/ValueLinkAction";
    import {ValueLink} from "@/model/project/Link";
    //eslint-disable-next-line no-unused-vars
    import {Point} from "@/model/ui/TransformMatrix";
    import {ValueHighlight} from "@/model/ui/Highlight";

    @Options({
        props: {
            valueLinkAction: ValueLinkAction,
            valueLink: ValueLink,
            valueHighlight: ValueHighlight
        },
        emits: [
            "startvaluelink",
            "endvaluelink",
            "splitlink"
        ]
    })
    export default class ValueLinkComponent extends Vue {
        valueLinkAction?: ValueLinkAction;
        valueLink?: ValueLink;
        valueHighlight!: ValueHighlight;

        get isOutputHidden() : boolean {
            if(this.valueLink) {
                return this.valueHighlight.isOutputHidden(this.valueLink.fromOperation.definition.outputs[this.valueLink.fromOutput]);
            }
            return false;
        }

        get isInputHidden() : boolean {
            if(this.valueLink) {
                return this.valueHighlight.isInputHidden(this.valueLink.toOperation.definition.inputs[this.valueLink.toInput]);
            }
            return false;
        }

        get fromOutputPosition() : Point {
            if(this.valueLinkAction) {
                return this.valueLinkAction.fromOutputPosition;
            }
            if(this.valueLink) {
                return this.valueLink.fromOutputPosition;
            }
            return {x: 0, y: 0};
        }

        get toInputPosition() : Point {
            if(this.valueLinkAction) {
                return this.valueLinkAction.toInputPosition;
            }
            if(this.valueLink) {
                return this.valueLink.toInputPosition;
            }
            return {x: 0, y: 0};
        }

        get color() : string {
            if(this.valueLinkAction) {
                return this.valueLinkAction.color;
            }
            if(this.valueLink) {
                return this.valueLink.color;
            }
            return "black";
        }

        get path() : string {
            if(this.valueLinkAction) {
                return this.valueLinkAction.path;
            }
            if(this.valueLink) {
                return this.valueLink.path;
            }
            return "";
        }

        get selected() : boolean {
            if(this.valueLink) {
                return this.valueLink.selected;
            }
            return false;
        }

        onOutputMouseDown(e: MouseEvent) {
            if(this.valueLink) {
                e.stopPropagation();
                this.$emit("startvaluelink", {
                    fromEditableOperation: this.valueLink.fromOperation,
                    fromOutput: this.valueLink.fromOutput,
                    e: e
                });
            }
        }

        onOutputMouseUp(e: MouseEvent) {
            if(this.valueLink && !this.isOutputHidden) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    fromEditableOperation: this.valueLink.fromOperation,
                    fromOutput: this.valueLink.fromOutput,
                    e: e
                });
            }
        }

        onInputMouseDown(e: MouseEvent) {
            if(this.valueLink) {
                e.stopPropagation();
                this.$emit("startvaluelink", {
                    toEditableOperation: this.valueLink.toOperation,
                    toInput: this.valueLink.toInput,
                    e: e
                });
            }
        }

        onInputMouseUp(e: MouseEvent) {
            if(this.valueLink && !this.isInputHidden) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    toEditableOperation: this.valueLink.toOperation,
                    toInput: this.valueLink.toInput,
                    e: e
                });
            }
        }

        toggleSelection() {
            if(this.valueLink) {
                this.valueLink.selected = !this.valueLink.selected;
            }
        }

        splitLink(e: MouseEvent) {
            if(this.valueLink) {
                this.$emit("splitlink", {
                    valueLink: this.valueLink,
                    e: e
                })
            }
        }

    }
</script>

<style scoped>
    circle {
        r: 5;
        cursor: pointer;
    }

    .link {
        stroke-width: 2px;
        cursor: pointer;
    }

    .link:hover {
        stroke-opacity: 50%;
    }

    .selected {
        stroke-width: 4px;
    }

    .hidden {
        cursor: not-allowed;
    }
</style>
