<template>
    <defs>
        <g id="icon-flow">
            <path d="M 5 0 L 0 5 L -5 5 L -5 -5 L 0 -5 z" class="icon-flow"></path>
        </g>
        <g id="icon-single-value">
            <circle r="5" class="icon-value"></circle>
        </g>
        <g id="icon-array-value">
            <rect x="-5" y="-5" width="10" height="10" class="icon-value"></rect>
        </g>
    </defs>
    <g :transform="operationTransform">
        <g transform="translate(-15,-45)">
            <rect :class="{'operation-frame': true, 'selected': selected}"
                  :width="element.width + 30"
                  :height="element.height + 30"
            ></rect>
            <g class="operation-header" @mousedown="e => onStartOperationDrag(e)">
                <rect x="1" y="1" class="operation-header-background"
                      :width="element.width + 28"
                ></rect>
                <text x="10" y="23" class="operation-header-text">
                    {{definition.name}}
                </text>
            </g>
        </g>
        <g v-if="isCallable">
            <use xlink:href="#icon-flow"
                 :class="{hidden: isCallHidden}"
                 @mousedown="e => onCallMouseDown(e)"
                 @mouseup="e => onCallMouseUp(e)"
            ></use>
        </g>
        <g v-for="(inputName, index) of definition.inputNames" :key="index" :transform="inputTransform(inputName)">
            <use :xlink:href="iconByCollection(definition.inputs[inputName].collection)"
                 :style="{stroke: element.body.inputsColor[inputName]}"
                 :class="{hidden: isInputHidden(inputName)}"
                 @mousedown="e => onInputMouseDown(e, inputName)"
                 @mouseup="e => onInputMouseUp(e, inputName)"
            ></use>
            <text x="15" y="5" class="item-text"
                  :class="{hidden: isInputHidden(inputName)}"
            >{{inputName}}</text>
            <g v-if="showTextEditor(inputName)">
                <foreignObject y="-10" height="21"
                               :x="element.body.inputs[inputName].label.width + 25"
                               :width="element.body.inputs[inputName].input.width + 8"
                >
                    <input type="text" placeholder="Str" class="constant-editor"
                           :value="element.body.inputs[inputName].input.text"
                           :style="{width: element.body.inputs[inputName].input.width + 'px'}"
                           :disabled="inputElementsHighlight.disableInputElements"
                           @mousedown="e => e.stopPropagation()"
                           @keydown="e => e.stopPropagation()"
                           @input="e => onConstantInput(e, inputName)"
                    />
                </foreignObject>
            </g>
            <g v-if="showNumericEditor(inputName)">
                <foreignObject y="-10" height="21"
                               :x="element.body.inputs[inputName].label.width + 25"
                               :width="element.body.inputs[inputName].input.width + 8"
                >
                    <input type="number" placeholder="0" class="constant-editor"
                           :value="element.body.inputs[inputName].input.text"
                           :style="{width: element.body.inputs[inputName].input.width + 'px'}"
                           :disabled="inputElementsHighlight.disableInputElements"
                           @mousedown="e => e.stopPropagation()"
                           @keydown="e => e.stopPropagation()"
                           @input="e => onConstantInput(e, inputName)"
                    />
                </foreignObject>
            </g>
            <g v-if="showBooleanEditor(inputName)">
                <foreignObject y="-10" height="21"
                               :x="element.body.inputs[inputName].label.width + 20"
                               width="20"
                >
                    <input type="checkbox"
                           :checked="element.body.inputs[inputName].checked"
                           :disabled="inputElementsHighlight.disableInputElements"
                           @mousedown="e => e.stopPropagation()"
                           @keydown="e => e.stopPropagation()"
                           @input="e => onConstantInput(e, inputName)"
                    />
                </foreignObject>
            </g>
        </g>
        <g :transform="outputsZeroTransform">
            <g v-if="isCaller">
                <g v-for="(outcomeName, index) of definition.outcomeNames" :key="index" :transform="outcomeTransform(outcomeName)">
                    <use xlink:href="#icon-flow"
                         :class="{hidden: isOutcomeHidden}"
                         @mousedown="e => onOutcomeMouseDown(e, outcomeName)"
                         @mouseup="e => onOutcomeMouseUp(e, outcomeName)"
                    ></use>
                    <text y="5" class="item-text"
                          :x="-5 - element.body.outcomes[outcomeName].width"
                          :class="{hidden: isOutcomeHidden}"
                    >{{outcomeName}}</text>
                </g>
            </g>
            <g v-for="(outputName, index) of definition.outputNames" :key="index" :transform="outputTransform(outputName)">
                <use :xlink:href="iconByCollection(definition.outputs[outputName].collection)"
                     :style="{stroke: element.body.outputsColor[outputName]}"
                     :class="{hidden: isOutputHidden(outputName)}"
                     @mousedown="e => onOutputMouseDown(e, outputName)"
                     @mouseup="e => onOutputMouseUp(e, outputName)"
                ></use>
                <text y="5" class="item-text"
                      :x="-5 - element.body.outputs[outputName].width"
                      :class="{hidden: isOutputHidden(outputName)}"
                >{{outputName}}</text>
            </g>
        </g>
    </g>
</template>

<script lang="ts">
    import {Options, Vue} from "vue-class-component";
    import {EditableOperation} from "@/model/project/EditableOperation";
    //eslint-disable-next-line no-unused-vars
    import {OperationElement} from "@/model/ui/element/OperationElement";
    import {CallHighlight, InputElementsHighlight, ValueHighlight} from "@/model/ui/Highlight";
    import {
        CallableOperationDefinition,
        CallerOperationDefinition,
        //eslint-disable-next-line no-unused-vars
        OperationDefinition
    } from "@/model/definition/Definition";
    import {DataCollection, DataType} from "@/model/definition/DataType";
    import {LabeledCheckboxSocketElement} from "@/model/ui/element/LabeledCheckboxSocketElement";
    import {LabeledInputTextSocketElement} from "@/model/ui/element/LabeledInputTextSocketElement";

    @Options({
        props: {
            editableOperation: EditableOperation,
            valueHighlight: ValueHighlight,
            callHighlight: CallHighlight,
            inputElementsHighlight: InputElementsHighlight
        },
        emits: [
            "startcustomdrag",
            "startvaluelink",
            "endvaluelink",
            "startcalllink",
            "endcalllink"
        ]
    })
    export default class OperationComponent extends Vue {
        editableOperation!: EditableOperation;
        valueHighlight!: ValueHighlight;
        callHighlight!: CallHighlight;
        inputElementsHighlight!: InputElementsHighlight;

        get isCallable() : boolean {
            return this.editableOperation.definition instanceof CallableOperationDefinition;
        }

        get isCaller() : boolean {
            return this.editableOperation.definition instanceof CallerOperationDefinition;
        }

        get element() : OperationElement {
            return this.editableOperation.element;
        }

        get definition() : OperationDefinition {
            return this.editableOperation.definition;
        }

        get operationTransform() : string {
            return "translate(" + this.editableOperation.position.x + "," + this.editableOperation.position.y + ")";
        }

        get outputsZeroTransform() : string {
            return "translate(" + this.element.width + ",0)";
        }

        get selected() : boolean {
            return this.editableOperation.selected;
        }

        inputTransform(inputName: string) : string {
            return "translate(0," + this.element.body.inputsTop[inputName] + ")";
        }

        outcomeTransform(outcomeName: string) : string {
            return "translate(0," + this.element.body.outcomesTop[outcomeName] + ")";
        }

        outputTransform(outputName: string) : string {
            return "translate(0," + this.element.body.outputsTop[outputName] + ")";
        }

        showTextEditor(inputName: string) : boolean {
            let definition = this.definition.inputs[inputName];
            return definition.type === DataType.STRING && definition.collection === DataCollection.SINGLE;
        }

        showNumericEditor(inputName: string) : boolean {
            let definition = this.definition.inputs[inputName];
            return definition.type === DataType.NUMBER && definition.collection === DataCollection.SINGLE;
        }

        showBooleanEditor(inputName: string) : boolean {
            let definition = this.definition.inputs[inputName];
            return definition.type === DataType.BOOLEAN && definition.collection === DataCollection.SINGLE;
        }

        iconByCollection(collection: DataCollection) : string {
            switch (collection) {
                case DataCollection.SINGLE:
                    return "#icon-single-value";
                case DataCollection.ARRAY:
                    return "#icon-array-value";
            }
        }

        onStartOperationDrag(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startcustomdrag", {
                editableOperation: this.editableOperation,
                e: e
            });
        }

        get isCallHidden() : boolean {
            return this.callHighlight.isCallHidden();
        }

        isInputHidden(inputName: string) : boolean {
            return this.valueHighlight.isInputHidden(this.editableOperation.definition.inputs[inputName]);
        }

        onInputMouseDown(e: MouseEvent, inputName: string) {
            e.stopPropagation();
            this.$emit("startvaluelink", {
                toEditableOperation: this.editableOperation,
                toInput: inputName,
                e: e
            });
        }

        onInputMouseUp(e: MouseEvent, inputName: string) {
            if(!this.isInputHidden(inputName)) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    toEditableOperation: this.editableOperation,
                    toInput: inputName,
                    e: e
                });
            }
        }

        onCallMouseDown(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startcalllink", {
                toEditableOperation: this.editableOperation,
                e: e
            });
        }

        onCallMouseUp(e: MouseEvent) {
            if(!this.callHighlight.isCallHidden()) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    toEditableOperation: this.editableOperation,
                    e: e
                });
            }
        }

        isOutputHidden(outputName: string) : boolean {
            return this.valueHighlight.isOutputHidden(this.editableOperation.definition.outputs[outputName]);
        }

        get isOutcomeHidden() : boolean {
            return this.callHighlight.isOutcomeHidden();
        }

        onOutputMouseDown(e: MouseEvent, outputName: string) {
            e.stopPropagation();
            this.$emit("startvaluelink", {
                fromEditableOperation: this.editableOperation,
                fromOutput: outputName,
                e: e
            });
        }

        onOutputMouseUp(e: MouseEvent, outputName: string) {
            if(!this.isOutputHidden(outputName)) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    fromEditableOperation: this.editableOperation,
                    fromOutput: outputName,
                    e: e
                });
            }
        }

        onOutcomeMouseDown(e: MouseEvent, outcomeName: string) {
            e.stopPropagation();
            this.$emit("startcalllink", {
                fromEditableOperation: this.editableOperation,
                fromOutcome: outcomeName,
                e: e
            });
        }

        onOutcomeMouseUp(e: MouseEvent, outcomeName: string) {
            if(!this.callHighlight.isOutcomeHidden()) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    fromEditableOperation: this.editableOperation,
                    fromOutcome: outcomeName,
                    e: e
                });
            }
        }

        onConstantInput(e: InputEvent, inputName: string) {
            let inputTarget = e.target as HTMLInputElement;
            let inputElement = this.element.body.inputs[inputName];
            if(inputElement instanceof LabeledInputTextSocketElement) {
                inputElement.input.text = inputTarget.value;
            }
            if(inputElement instanceof LabeledCheckboxSocketElement) {
                inputElement.checked = inputTarget.checked;
            }
        }

    }
</script>

<style scoped>
    text {
        user-select: none;
    }

    .operation-frame {
        stroke: black;
        fill: white;
        stroke-width: 1.5px;
    }

    .operation-frame.selected {
        stroke-width: 3px;
    }

    .operation-header {
        cursor: move;
    }

    .operation-header-text {
        font: 20px Arial;
    }

    .operation-header-background {
        height: 30px;
        stroke: none;
        fill: gainsboro;
    }

    .icon-flow {
        cursor: pointer;
        fill: white;
        stroke: black;
        stroke-width: 2px;
    }

    .icon-value {
        cursor: pointer;
        fill: white;
        stroke-width: 2px;
    }

    .item-text {
        font: 14px Arial;
    }

    .constant-editor {
        font: 13px Arial;
    }

    .constant-editor[disabled] {
        user-select: none;
    }

    .constant-editor[type=number]::-webkit-outer-spin-button,
    .constant-editor[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .constant-editor[type=number] {
        -moz-appearance:textfield;
    }

    .constant-editor[type=checkbox] {
        width: auto;
        min-width: auto;
        margin-left: 0;
    }

    .hidden {
        stroke-opacity: 50%;
        fill-opacity: 50%;
        cursor: not-allowed;
    }

</style>
