<template>
    <defs>
        <g id="icon-flow">
            <path d="M 5 0 L 0 5 L -5 5 L -5 -5 L 0 -5 z" class="icon-flow"></path>
        </g>
        <g id="icon-single-value">
            <circle r="5" class="icon-value"></circle>
        </g>
        <g id="icon-array-value">
            <rect x="-5" y="-5" width="10" height="10" class="icon-value"></rect>
        </g>
    </defs>
    <g :transform="operationTransform">
        <rect v-if="selected"
              class="operation-frame"
              x="-15" y="-15" :width="30 + editableOperation.element.width" height="30"
              @mousedown="e => onStartOperationDrag(e)"
        ></rect>

        <g v-if="isCall">
            <use xlink:href="#icon-flow"
                 :class="{hidden: isCallHidden}"
                 @mousedown="e => onCallMouseDown(e)"
                 @mouseup="e => onCallMouseUp(e)"
            ></use>
            <use xlink:href="#icon-flow"
                 :class="{hidden: isOutcomeHidden}"
                 :x="element.width"
                 @mousedown="e => onOutcomeMouseDown(e)"
                 @mouseup="e => onOutcomeMouseUp(e)"
            ></use>
        </g>

        <g v-if="isValue">
            <use :xlink:href="iconByCollection"
                 :style="{stroke: element.body.inputsColor['Value']}"
                 :class="{hidden: isInputHidden}"
                 @mousedown="e => onInputMouseDown(e)"
                 @mouseup="e => onInputMouseUp(e)"
            ></use>
            <use :xlink:href="iconByCollection"
                 :style="{stroke: element.body.outputsColor['Value']}"
                 :class="{hidden: isOutputHidden}"
                 :x="element.width"
                 @mousedown="e => onOutputMouseDown(e)"
                 @mouseup="e => onOutputMouseUp(e)"
            ></use>
        </g>
    </g>
</template>

<script lang="ts">
    import {Options, Vue} from "vue-class-component";
    import {EditableOperation} from "@/model/project/EditableOperation";
    import {CallHighlight, InputElementsHighlight, ValueHighlight} from "@/model/ui/Highlight";
    import {CallablePass} from "@/model/operation/library/pass/CallablePass";
    import {ValuePass} from "@/model/operation/library/pass/ValuePass";
    import {DataCollection} from "@/model/definition/DataType";
    //eslint-disable-next-line no-unused-vars
    import {OperationElement} from "@/model/ui/element/OperationElement";

    @Options({
        props: {
            editableOperation: EditableOperation,
            valueHighlight: ValueHighlight,
            callHighlight: CallHighlight,
            inputElementsHighlight: InputElementsHighlight
        },
        emits: [
            "startcustomdrag",
            "startvaluelink",
            "endvaluelink",
            "startcalllink",
            "endcalllink"
        ]
    })
    export default class PassComponent extends Vue {
        editableOperation!: EditableOperation;
        valueHighlight!: ValueHighlight;
        callHighlight!: CallHighlight;
        inputElementsHighlight!: InputElementsHighlight;

        get isCall() : boolean {
            return this.editableOperation.operation instanceof CallablePass;
        }

        get isValue() : boolean {
            return this.editableOperation.operation instanceof ValuePass;
        }

        get operationTransform() : string {
            return "translate(" + this.editableOperation.position.x + "," + this.editableOperation.position.y + ")";
        }

        get element() : OperationElement {
            return this.editableOperation.element;
        }

        get isCallHidden() : boolean {
            return this.callHighlight.isCallHidden();
        }

        get isInputHidden() : boolean {
            return this.valueHighlight.isInputHidden(this.editableOperation.definition.inputs["Value"]);
        }

        get isOutputHidden() : boolean {
            return this.valueHighlight.isOutputHidden(this.editableOperation.definition.outputs["Value"]);
        }

        get isOutcomeHidden() : boolean {
            return this.callHighlight.isOutcomeHidden();
        }

        get selected() : boolean {
            return this.editableOperation.selected;
        }

        get iconByCollection() : string {
            switch (this.editableOperation.definition.inputs["Value"].collection) {
                case DataCollection.SINGLE:
                    return "#icon-single-value";
                case DataCollection.ARRAY:
                    return "#icon-array-value";
                default:
                    return "";
            }
        }

        onStartOperationDrag(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startcustomdrag", {
                editableOperation: this.editableOperation,
                e: e
            });
        }

        onInputMouseDown(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startvaluelink", {
                toEditableOperation: this.editableOperation,
                toInput: "Value",
                e: e
            });
        }

        onInputMouseUp(e: MouseEvent) {
            if(!this.isInputHidden) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    toEditableOperation: this.editableOperation,
                    toInput: "Value",
                    e: e
                });
            }
        }

        onCallMouseDown(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startcalllink", {
                toEditableOperation: this.editableOperation,
                e: e
            });
        }

        onCallMouseUp(e: MouseEvent) {
            if(!this.callHighlight.isCallHidden()) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    toEditableOperation: this.editableOperation,
                    e: e
                });
            }
        }

        onOutputMouseDown(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startvaluelink", {
                fromEditableOperation: this.editableOperation,
                fromOutput: "Value",
                e: e
            });
        }

        onOutputMouseUp(e: MouseEvent) {
            if(!this.isOutputHidden) {
                e.stopPropagation();
                this.$emit("endvaluelink", {
                    fromEditableOperation: this.editableOperation,
                    fromOutput: "Value",
                    e: e
                });
            }
        }

        onOutcomeMouseDown(e: MouseEvent) {
            e.stopPropagation();
            this.$emit("startcalllink", {
                fromEditableOperation: this.editableOperation,
                fromOutcome: "After",
                e: e
            });
        }

        onOutcomeMouseUp(e: MouseEvent) {
            if(!this.callHighlight.isOutcomeHidden()) {
                e.stopPropagation();
                this.$emit("endcalllink", {
                    fromEditableOperation: this.editableOperation,
                    fromOutcome: "After",
                    e: e
                });
            }
        }

    }
</script>

<style scoped>

    .operation-frame {
        stroke: black;
        fill: white;
        stroke-width: 3px;
        cursor: move;
    }

    .icon-flow {
        cursor: pointer;
        fill: white;
        stroke: black;
        stroke-width: 2px;
    }

    .icon-value {
        cursor: pointer;
        fill: white;
        stroke-width: 2px;
    }

    .hidden {
        stroke-opacity: 50%;
        fill-opacity: 50%;
        cursor: not-allowed;
    }

</style>
